<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.members.MembersPageModel"-->

<head>
    <title>Bookish - Members</title>
    <link rel="shortcut icon" href="/images/book.png" />
    <link rel="stylesheet" href="/styles/bootstrap.css"/>
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/about.css"/>
    <link rel="stylesheet" href="/styles/books.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>

<div class="container">
    <div class="jumbotron">
        <h1>Bookish</h1>

        <p class="lead">Welcome to the members page</p>

        <div>
            <a href="/members/members-add"><button class="add-members-button"><span>Add Member</span></button></a>
        </div>

        <div>
            <input id="searchText" type="search" placeholder="Search..">
            <button onclick="location.href = '/members?search=' + window.searchText.value;">Submit</button>
        </div>

        <section class="allbooks-section">
            <div class="allbooks-container">
                <table class="allbooks really-allbooks table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>
                            ID
                            <div>ID</div>
                        </th>
                        <th>
                            First Name
                            <div>First Name</div>
                        </th>
                        <th>
                            Middle Name
                            <div>Middle Name</div>
                        </th>
                        <th>
                            Surname
                            <div>Surname</div>
                        </th>
                        <th>
                            Birth Date
                            <div>Birth Date</div>
                        </th>
                        <th>
                            Gender
                            <div>Gender</div>
                        </th>
                        <th>
                            Address Line 1
                            <div>Address Line 1</div>
                        </th>
                        <th>
                            Address Line 2
                            <div>Address Line 2</div>
                        </th>
                        <th>
                            City
                            <div>City</div>
                        </th>
                        <th>
                            Post Code
                            <div>Post Code</div>
                        </th>
                        <th>
                            <div> </div>
                        </th>

                        <th>
                            <div> </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="member:${model.members}">
                        <td th:text="${member.id}"></td>
                        <td th:text="${member.firstName}"></td>
                        <td th:text="${member.middleName}"></td>
                        <td th:text="${member.surname}"></td>
                        <td th:text="${member.birthDate}"></td>
                        <td th:text="${member.gender}"></td>
                        <td th:text="${member.addressLine1}"></td>
                        <td th:text="${member.addressLine2}"></td>
                        <td th:text="${member.city}"></td>
                        <td th:text="${member.postCode}"></td>
                        <td> <a th:href="'/members/members-edit/' + ${member.id}"><button class="editmember"><span>Edit</span></button></a></td>
                        <td> <a th:href="'/members/members-delete/' + ${member.id}"><button class="editmember"><span>Delete</span></button></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
</body>
    <footer>
        <pa>The Library of Books and Stuff. Copyright &copy; 2019</pa>
    </footer>
</html>