<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Bookish | Add Books</title>
    <link rel="shortcut icon" href="/images/book.png"/>
    <link rel="stylesheet" href="/styles/bootstrap.css"/>
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/books.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        function setActiveItemInNav(id) {
            $('#' + id).addClass("active");
        }

        $(document).ready(function () {
            setActiveItemInNav("nav-books");
        });
    </script>

</head>

<body>
<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>

<div class="container">
    <div class="form-container">
        <form th:action="@{/books/books-add/added}" method="POST">
            <div class="add-book-row">
                <label>
                    <span>Title </span>
                    <input type="text" name="title">
                </label>
            </div>
            <div class="add-book-row">
                <label>
                    <span>Author </span>
                    <input type="text" name="author">
                </label>
            </div>
            <div class="add-book-row">
                <label>
                    <span>ISBN </span>
                    <input type="text" name="isbn">
                </label>
            </div>
            <div class="add-book-row">
                <label>
                    <span>Genre </span>
                    <input type="text" name="genre">
                </label>
            </div>
            <div class="add-book-row">
                <label>
                    <span>Age Rating </span>
                    <input type="number" name="ageRating">
                </label>
            </div>
            <div class="add-book-row">
                <label>
                    <span>Number of Copies </span>
                    <input type="number" name="numberOfCopies">
                </label>
            </div>
            <input type="submit" value="Add Book"/>
            <a href="/books"> Cancel </a>
        </form>
    </div>
</div>
</body>

<footer>
    <pa>The Library of Books and Stuff. Copyright &copy; 2019</pa>
</footer>
</html>