<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Bookish - Home</title>
    <link rel="shortcut icon" href="/images/book.png" />
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        function setActiveItemInNav(id) {
            $('#' + id).addClass("active");
        }

        $(document).ready(function() { setActiveItemInNav("nav-home"); });

    </script>
    <script>
        var slideIndex = 0;

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 5000); // Change image every 2 seconds
        }
        $(document).ready(showSlides);
    </script>

</head>

<body>
<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>

<div class="container">
    <div class="jumbotron">
        <h1>The Library of Books and Stuff</h1>
        <p class="lead">Welcome to the future of the library</p>
        <p class="lead">Do your work by clicking the links above and below</p>

        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="/images/books-1.jpg" style="width:80%">
            </div>

            <div class="mySlides fade">
                <img src="/images/books-2.jpg" style="width:80%">
            </div>

            <div class="mySlides fade">
                <img src="/images/books-3.jpg" style="width:80%">
            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

        <div class="buttons-container">
            <div>
                <a href="/books"><button class="button"><span>Books</span></button></a>
            </div>
            <div>
                <a href="/members"><button class="button"><span>Members</span></button></a>
            </div>
            <div>
                <a href="/check-in-out-history"><button class="button"><span>Check In/Out</span></button></a>
            </div>
        </div>
    </div>

</div>




</body>
<footer>
    <pa>The Library of Books and Stuff. Copyright &copy; 2019</pa>
</footer>

</html>

<!--https://giphy.com/gifs/7AamAtPBSAYCt4ElGy/html5-->
